.pagination {
    @include listrest(0, 0, none);
    li {
        padding-left: 15px;
        padding-right: 15px;
        span {
            color: $black;
            font-weight: 600;
        }
        a {
            color: $text;
            &:hover {
                color: $primary;
            }
        }
        &:last-child {
            a {
                color: $black;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}