form.search {
    position: relative;
    >* {
        display: inline-block;
        font-size: 1rem;
        outline: 0;
    }
    input[type=text] {
        width: 100%;
        padding: 0 50px 0 15px;
        line-height: 3;
        border: 1px solid $gray-300;
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 17px;
        background: transparent;
        border: none;
        cursor: pointer;
        @include transition(color 0.3s, background 0.3s, border 0.3s);
        &:hover {
            background-color: $gray-300;
        }
        i {
            display: block;
            font-weight: 600;
        }
    }
}