@import "en/_variable";
@import "en/_mixin";
@import "en/_common";
@import "en/_container";
@import "en/_button";
@import "en/_font";
@import "en/_header";
@import "en/_footer";
@import "en/_index";
@import "en/_inner";
@import "en/_modal";

section.contact {
    position: relative;
    .h2 {
        color: $primary;
        line-height: 1.15;
        @media screen and (min-width: 1280px) {
            font-size: $h1 * 2;
        }
        @media screen and (max-width: 1279px) {
            font-size: $h2 * 2;
        }
    }
    .h3 {
        color: $primary;
        line-height: 1.15;
        @media screen and (min-width: 1280px) {
            font-size: $h4 * 2;
        }
        @media screen and (max-width: 1279px) {
            font-size: $h1;
        }
    }
    .form-column {
        margin: 20px;
        padding: 25px;
        background-color: $red-100;
        @include border-radius($h2);
        @media screen and (min-width: 375px) {
            margin: 40px;
        }
        @media screen and (min-width: 768px) {
            margin: 40px auto;
        }
        @media screen and (min-width: 1024px) {
            padding: 80px 100px;
        }
        .title {
            text-align: center;
        }
        p {
            color: $primary;
        }
    }
    form.contact-form {
        color: $primary;
        input[type='text'], input[type='tel'], input[type='email'], textarea {
            width: 100%;
            padding: 5px;
            color: $primary;
            border: 1px solid $primary;
            outline: 0;
        }
        textarea {
            min-height: 100px;
        }
        label{
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 5px;
            + label {
                margin-left: 10px;
            }
        }
    }
}
.crosscut-block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: $white;
    background-color: $primary;
    border-top: 1px solid rgba($white, 0.2);
    z-index: 5;
    @include breakpoint(1024px) {
        display: none !important;
    }
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .crosscut-title {
        margin-right: 1em;
    }
    a.btn {
        @include button($white, $red-300);
        min-width: auto;
        margin-left: 5px;
        padding: 0 7px;
        line-height: 2;
        vertical-align: middle;
        @include border-radius(50px);
        @include breakpoint(1024px) {
            min-width: auto;
        }
        &.btn-text {
            padding: 0 14px;
        }
        i.icon {
            display: block;
            padding: 7px 0;
            font-weight: bold;
        }
    }
}
#top {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: 55px;
    height: 55px;
    padding: 17px 10px 12px;
    color: $white;
    line-height: 1;
    text-align: center;
    background-color: $primary;
    @include border-radius(50%);
    cursor: pointer;
    z-index: 5;
    @include breakpoint(1024px) {
        bottom: 20px;
        width: 65px;
        height: 65px;
        padding: 20px 15px;
    }
    @media screen and (max-width: 1023px) {
        font-size: $h6*0.75;
    }
    >* {
        display: block;
        text-transform: uppercase;
    }
    i.icon {
        font-size: $h6;
        @include breakpoint(1024px) {
            font-size: $h5;
        }
    }
}
