@charset "UTF-8";
@import "Compass";
@import "breakpoint";
@import "_normalize";
// 元件
@import "_variable";
@import "_mixin";
@import "_font";
// 通用
@import "_common";
@import "_header";
@import "_footer";
@import "_pagination";
@import "_search";
*,
*::before,
*::after {
    outline: 0;
}

.text-center {
    text-align: center;
}

.blank {
    position: absolute;
    background: rgba($black, 0.7);
    z-index: 9;
}

body.opened .blank {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: $white;
    font-size: 36px;
    @include opacity(0.7);
    @include translateX(-50%);
    @include transition(opacity 0.3s);
    z-index: 5;
    @include animation(updown 4s infinite running);
    @include breakpoint(1024px) {
        font-size: 48px;
    }
    @include breakpoint(1366px) {
        font-size: 60px;
    }
    &:hover, &:active, &.active, &:focus {
        @include opacity(1);
    }
}

@include keyframes(updown) {
    0% {
        bottom: 40px;
    }
    30% {
        bottom: 40px;
    }
    60% {
        bottom: 20px;
    }
    100% {
        bottom: 40px;
    }
}

#top {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: 55px;
    height: 55px;
    padding: 17px 10px 12px;
    color: $white;
    line-height: 1;
    text-align: center;
    background-color: $black;
    @include border-radius(50%);
    cursor: pointer;
    z-index: 5;
    @include breakpoint(1024px) {
        bottom: 20px;
        width: 65px;
        height: 65px;
        padding: 20px 15px;
    }
    >* {
        display: block;
        text-transform: uppercase;
    }
    i {
        font-size: 0.75rem;
        @include transform(rotate(-90deg) scale(0.75));
    }
}

[class*='col-'] {
    @include breakpoint(max-width 1023px) {
        padding-left: 30px;
        padding-right: 30px;
        .row {
            margin-left: -30px;
            margin-right: -30px;
        }
    }
}

.fp-scroller {
    height: 100%;
}

.text-group {
    width: 100%;
    .h2 {
        line-height: 1;
        +.h2 {
            margin-top: 5px;
        }
        &.h2--chi {
            font-size: 28px;
            font-weight: 400;
        }
        &.h2--eng {
            font-size: 18px;
        }
    }
    h4 {
        font-size: 24px;
        font-weight: 400;
        @include breakpoint(1024px) {
            font-size: 28px;
        }
    }
    p {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 0.875rem;
        @include breakpoint(1024px) {
            line-height: 1.7;
        }
        @include breakpoint(1366px) {
            margin-top: 30px;
            line-height: 2;
        }
    }
    &.text-group-sp {
        p {
            @include breakpoint(1024px) {
                margin-top: 0;
            }
        }
    }
    .news-list {
        margin-top: 20px;
        @include breakpoint(1024px) {
            margin-top: 40px;
        }
    }
    &.text-group--50 {
        @include breakpoint(1024px) {
            max-width: 540px;
        }
    }
    &.mt-100 {
        // margin-top: 3.5vw;
        // @include breakpoint(1200px) {
        //     margin-top: 7vw;
        // }
    }
}

.slider-suit {
    .slick-slide>span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        color: $white;
        @include background-image(linear-gradient(top, rgba($black, 0) 0%, $black 100%));
        z-index: 1;
    }
}

.collapse-text {
    position: relative;
    &.collapse-hide {
        height: 12.25em; //4行(2.25)+mt-3
        overflow: hidden;
        &::before {
            @include beforeafter('', block);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6.75em;
            @include background-image(linear-gradient(top, rgba($white, 0) 0%, $white 100%));
        }
    }
}

.btn-group {
    margin-top: 20px;
    @include breakpoint(1024px) {
        margin-top: 40px;
    }
    input[type*='submit'],
    a.btn {
        margin-right: 20px;
        @include button($black, $primary);
        @include border-radius(50px);
        &:last-child {
            margin-right: 0;
        }
    }
}

.special-btn {
    text-align: center;
    a.btn {
        margin-top: 10px;
        @include button($black, $primary);
        @include border-radius(50px);
        +a.btn {
            margin-left: 20px;
        }
        @include breakpoint(1024px) {
            margin-top: 30px;
        }
    }
}

.img-group {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.666667%;
    overflow: hidden;
    @include breakpoint(1024px) {
        padding-top: 66.666667%;
    }
    @include breakpoint(768px) {
        padding-top: 100%;
    }
    @include breakpoint(max-width 767px) {
        margin-top: 30px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include translate(-50%, -50%);
    }
}

.half-banner-group {
    height: 100%;
}

.half-img-banner {
    position: relative;
    background-repeat: no-repeat;
    @include background-size(cover);
    .container {
        height: 100%;
        .row {
            height: 100%;
        }
    }
}

.number-group {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 100%;
    height: auto !important;
    margin: auto !important;
    justify-content: center;
    @include translateX(-50%);
    @include breakpoint(1200px) {
        bottom: 50px;
    }
    @include breakpoint(1920px) {
        bottom: 75px;
    }
    @include breakpoint(max-width 1023px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .number-item {
        color: $white;
        font-size: 16px;
        text-align: center;
        line-height: 1.25;
        text-shadow: 0 0 15px $black;
        @include breakpoint(1024px) {
            font-size: 24px;
        }
        +.number-item {
            margin-left: 20px;
        }
        >.count {
            position: relative;
            display: inline-block;
            height: calc(24px * 1.25);
            padding: 0 3px;
            font-size: 24px;
            font-weight: 500;
            vertical-align: bottom;
            overflow: hidden;
            @include breakpoint(1024px) {
                height: calc(28px * 1.25);
                font-size: 28px;
            }
            .count-group {
                position: relative;
                i {
                    display: block;
                    font-style: inherit;
                    text-align: right;
                }
            }
            &.active {
                .count-group-4 {
                    @include animation(count-4-step 1s alternate forwards);
                }
                .count-group-5 {
                    @include animation(count-5-step 1s alternate forwards);
                }
                .count-group-6 {
                    @include animation(count-6-step 1s alternate forwards);
                }
            }
        }
        @include breakpoint(max-width 1023px) {
            br {
                display: none;
            }
        }
    }
}

.news-list {
    @include listrest(0, 0, none);
    li {
        @include breakpoint(1024px) {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid #DCDCDC;
        }
        @include breakpoint(max-width 1023px) {
            margin-top: 20px;
            +li {
                margin-top: 15px;
            }
        }
        .date {
            font-size: 0.875rem;
            margin-bottom: 5px;
        }
        a {
            color: $black;
            font-size: 1rem;
            @include lineclamp(1);
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid #DCDCDC;
        }
    }
}

.grid-group {
    height: 100%;
    span {
        display: block;
    }
    .grid-item {
        padding-left: 0;
        padding-right: 0;
        height: 50%;
        .grid-img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .grid-hover {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0.6);
            @include opacity(0);
            @include transition(opacity 0.3s);
            z-index: 1;
            .text {
                position: relative;
                padding-bottom: 15px;
                color: $white;
                &::before {
                    @include beforeafter('', block);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    width: 30px;
                    height: 2px;
                    margin-left: -15px;
                    background-color: $white;
                }
            }
        }
        @include breakpoint(max-width 1023px) {
            &:nth-last-child(-n+4) {
                display: none;
            }
        }
        &.active {
            .grid-hover {
                @include opacity(1);
            }
        }
        &:hover, &:active, &.active, &:focus {
            .grid-hover {
                @include breakpoint(1024px) {
                    @include opacity(1);
                }
            }
        }
    }
}

.square-area {
    @include breakpoint(max-width 1023px) {
        height: 100vw !important;
    }
    &.square-youtube{
        position: relative;
        &::after {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 5;
        }
    }
}

.img-overflow {
    position: relative;
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include translate(-50%, -50%);
    }
}

.slide-img-grid {
    .slick-list {
        @include breakpoint(768px) {
            margin: 0 -10px;
        }
    }
    .slick-slide {
        @include breakpoint(768px) {
            padding: 10px;
        }
    }
}

.sort {
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    .subtitle::before {
        content: '/ ';
    }
}

.card-list {
    .card-item {
        a {
            display: block;
        }
    }
    .card-img {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 66.25%;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            @include translate(-50%, -50%);
        }
    }
    .card-body {
        padding-top: 30px;
        padding-bottom: 50px;
        color: $text;
        @include breakpoint(1024px) {
            padding-bottom: 70px;
        }
        .card-title {
            margin-top: 10px;
            margin-bottom: 20px;
            color: $text;
            font-size: 20px;
            font-weight: 400;
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
        .card-essay {
            margin-bottom: 30px;
            @include lineclamp(3);
        }
        .card-btn {
            color: $text;
            i.icon {
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
            }
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
    }
}

.news-grid {
    .news-item {
        @include breakpoint(1024px) {
            width: calc((100% - 180px) / 3);
            margin-left: 90px;
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        @include breakpoint(max-width 1023px) {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }
        a {
            display: block;
        }
    }
    .news-img {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 66.25%;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            @include translate(-50%, -50%);
        }
    }
    .news-body {
        padding-top: 30px;
        padding-bottom: 50px;
        color: $text;
        @include breakpoint(1024px) {
            padding-bottom: 70px;
        }
        .news-title {
            margin-top: 10px;
            margin-bottom: 40px;
            color: $text;
            font-size: 20px;
            font-weight: 400;
            @include breakpoint(1024px) {
                height: 3em;
            }
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
        .news-btn {
            color: $text;
            i.icon {
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
            }
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
    }
}

.sns-group {
    @include listrest(0, 0, none);
    font-size: 0;
    li {
        display: inline-block;
        +li {
            margin-left: 10px;
        }
        i.icon {
            display: block;
            color: $text;
            font-size: 2.25rem;
            @include transition(color 0.3s);
            &.active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
    }
}

aside {
    @include breakpoint(max-width 1023px) {
        margin-top: 50px;
    }
    &.col-md-4 {
        @include breakpoint(1024px) {
            padding-left: 45px;
        }
    }
    >*+* {
        margin-top: 40px;
    }
}

.aside-group {
    h3 {
        color: $text;
        font-weight: 400;
        border-bottom: 1px solid $gray-300;
    }
    .sort-list {
        @include listrest(0, 20px 0 0, none);
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            a {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                color: $text;
                font-size: 1rem;
                i.icon {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 12px;
                }
                &.active {
                    color: $primary;
                }
                &:hover, &:active, &.active, &:focus {
                    @include breakpoint(1024px) {
                        color: $primary;
                    }
                }
            }
        }
    }
    .hot-list {
        @include listrest(0, 20px 0 0, none);
        @include breakpoint(max-width 1023px) {
            width: 85%;
        }
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            time {
                color: $text;
            }
            a {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                color: $black;
                font-size: 1rem;
                font-weight: 400;
                &.active {
                    color: $primary;
                }
                &:hover, &:active, &.active, &:focus {
                    @include breakpoint(1024px) {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.guest-group {
    padding-top: 70px;
    padding-bottom: 70px;
    color: $black;
    background-color: rgba($white, 0.8);
    @include breakpoint(max-width 1023px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    h3 {
        margin-top: 0;
        font-size: 28px;
        font-weight: 300;
    }
    .guest-name {
        font-weight: 500;
    }
}

section {
    &.pt-80 {
        padding-top: 60px;
        @include breakpoint(1024px) {
            padding-top: 80px;
        }
    }
    &.pb-80 {
        padding-bottom: 60px;
        @include breakpoint(1024px) {
            padding-bottom: 80px;
        }
    }
    &.opening {
        position: relative;
        overflow: hidden;
        @include breakpoint(max-width 1023px) {
            height: 90vh;
        }
        .video {
            position: relative;
            height: 100%;
            iframe,
            video {
                display: block;
                width: 101%;
                height: 101%;
            }
            iframe {
                @include breakpoint(1024px) {
                    object-fit: cover;
                }
            }
            video {
                object-fit: cover;
            }
        }
        .slick-slide img {
            position: absolute;
            width: 101%;
            height: 101%;
            object-fit: cover;
        }
        .fp-scroller,
        .fp-scroller {
            height: 100%;
        }
        .slider-opening {
            position: relative;
            height: 100%;
            &::before,
            &::after {
                @include beforeafter('', block);
                position: absolute;
                left: 0;
                width: 100%;
                height: 100px;
                @include opacity(0.5);
                z-index: 1;
            }
            &::before {
                top: 0;
                @include background-image(linear-gradient(top, $black 0%, rgba($black, 0) 100%));
            }
            &::after {
                bottom: 0;
                @include background-image(linear-gradient(top, rgba($black, 0) 0%, $black 100%));
            }
            .slick-list,
            .slick-track {
                height: 100%;
            }
        }
    }
    &.service {
        .service-list {
            @include listrest(20px 0 0, 0, none);
            font-size: 0.875em;
            @include breakpoint(1366px) {
                margin-top: 30px;
            }
            .label {
                color: $black;
                >span {
                    display: block;
                    &.label-title {
                        display: inline-block;
                        padding: 5px 10px;
                        line-height: 1;
                        color: $black;
                        border: 1px solid $black;
                        @include border-radius(50px);
                        @include transition(all 0.3s);
                    }
                }
                &:active>span.label-title {
                    color: $white;
                    background-color: $black;
                }
                &.active {
                    >span.label-title {
                        color: $white;
                        background-color: $black;
                    }
                }
                &:hover, &:active, &.active, &:focus {
                    >span.label-title {
                        @include breakpoint(1024px) {
                            color: $white;
                            background-color: $black;
                        }
                    }
                }
            }
        }
        .square-area {
            background-color: $gray;
            img {
                max-width: 100%;
                max-height: calc(100vh - 150px);
            }
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    &.about {
        .half-img-banner {
            background-position: center bottom;
            background-image: url('../images/about.jpg');
        }
        .number-group {
            .number-item {
                width: calc((100% - 40px) / 3);
            }
        }
    }
    &.suit {
        .half-img-banner {
            background-position: center;
            background-image: url('../images/wedding.jpg');
        }
        .number-group {
            .number-item {
                width: calc((100% - 20px) / 2);
                @include breakpoint(1024px) {
                    width: calc((100% - 20px) / 3);
                }
            }
        }
    }
    &.news {
        .half-img-banner {
            background-position: center;
            background-image: url('../images/news.jpg');
        }
        .news-list {
            li {
                @include breakpoint(max-width 1023px) {
                    display: none;
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        display: block
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        .news-link-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px;
            color: $white;
            background-color: rgba($gray-500, 0.3);
            @include breakpoint(1024px) {
                bottom: 50px;
                width: 550px;
                padding: 50px;
            }
            span {
                &.date-square {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    width: 65px;
                    height: 65px;
                    margin-right: 15px;
                    line-height: 1;
                    border: 1px solid $white;
                    .mmdd {
                        font-size: 16px;
                    }
                    .yyyy {
                        position: relative;
                        padding-top: 12px;
                        font-size: 18px;
                        &::before {
                            @include beforeafter('',
                            block);
                            position: absolute;
                            top: 8px;
                            left: 50%;
                            width: 30px;
                            height: 1px;
                            margin-left: -15px;
                            background-color: $white;
                        }
                    }
                }
                &.title {
                    width: calc(100% - 80px);
                    font-size: 20px;
                    line-height: 1.2;
                    @include lineclamp(2);
                    @include breakpoint(1024px) {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    &.list-section {
        position: relative;
        overflow: hidden;
        &.full-backgroud {
            color: $white;
            &::before {
                @include beforeafter('',
                block);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: $black;
                @include opacity(0.6);
                z-index: 1;
            }
            >img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include translate(-50%,
                -50%);
            }
        }
        .container-fluid {
            .text-group {
                @include breakpoint(max-width 767px) {
                    padding-top: 80px;
                    padding-bottom: 40px;
                }
            }
        }
        .container {
            position: relative;
            z-index: 2;
            &.container-lg {
                @include breakpoint(1600px) {
                    max-width: 95%;
                }
            }
            .col-md-img {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                @include breakpoint(1024px) {
                    max-width: 45%;
                }
                @include breakpoint(max-width 1023px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            .col-md-txt {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                @include breakpoint(1024px) {
                    max-width: 55%;
                }
                @include breakpoint(max-width 1023px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            .col-md-7, .col-md-txt {
                @include breakpoint(max-width 1023px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                &:last-child {
                    @include breakpoint(1024px) {
                        padding-left: 55px;
                        padding-right: 15px;
                    }
                    @include breakpoint(1600px) {
                        padding-left: 75px;
                    }
                    @include breakpoint(max-width 1023px) {
                        padding-top: 0;
                    }
                }
                &:first-child {
                    @include breakpoint(1024px) {
                        padding-left: 15px;
                        padding-right: 55px;
                    }
                    @include breakpoint(1600px) {
                        padding-right: 75px;
                    }
                    @include breakpoint(max-width 1023px) {
                        padding-top: 0;
                    }
                }
            }
        }
    }
    &.interest-section {
        background-color: $gray-100;
    }
    &.active {
        .count-group-4 {
            @include breakpoint(1024px) {
                @include animation(count4stepd 0.75s alternate forwards);
            }
            @include breakpoint(max-width 1023px) {
                @include animation(count4stepm 0.75s alternate forwards);
            }
        }
        .count-group-5 {
            @include breakpoint(1024px) {
                @include animation(count5stepd 1.25s alternate forwards);
            }
            @include breakpoint(max-width 1023px) {
                @include animation(count5stepm 1.25s alternate forwards);
            }
        }
        .count-group-6 {
            @include breakpoint(1024px) {
                @include animation(count6stepd 1.5s alternate forwards);
            }
            @include breakpoint(max-width 1023px) {
                @include animation(count6stepm 1.5s alternate forwards);
            }
        }
    }
}

.jumbotron {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    @media screen and (orientation: portrait) {
        min-height: 120vw;
    }
    &::before {
        @include beforeafter('',
        block);
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: $black;
        @include opacity(0.6);
        z-index: 1;
    }
    >img {
        position: absolute;
        @include breakpoint(max-width 1023px) {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include breakpoint(1024px) {
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            @include translate(-50%,
            -50%);
        }
        &.mobile {
            display: none;
        }
        @media screen and (orientation: portrait) {
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
            }
        }
    }
    .btn-group {
        position: relative;
        // bottom: calc(38.5vw - 65px);
        // width: calc(100% - 30px);
        // @include breakpoint(768px) {
        //     bottom: 115px; //150-45-40
        // }
        // @include breakpoint(1200px) {
        //     bottom: 165px; //250-45-40
        // }
        font-size: 0;
        z-index: 2;
        a.btn {
            @include button($white,
            $primary);
            margin: 10px 10px 0;
            background-color: rgba($black, 0.5);
            @include border-radius(50px);
            &.active {
                background-color: $black;
                border-color: $black;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    background-color: $black;
                    border-color: $black;
                }
            }
        }
    }
    .container {
        position: relative;
        padding-top: 38.5vw;
        padding-bottom: 38.5vw;
        color: $white;
        z-index: 2;
        @include breakpoint(768px) {
            padding-top: 200px;
            padding-bottom: 200px;
        }
        @include breakpoint(1200px) {
            padding-top: 250px;
            padding-bottom: 250px;
        }
        &.has-btn {
            padding-bottom: 28.5vw;
            @include breakpoint(768px) {
                padding-bottom: 150px;
            }
            @include breakpoint(1200px) {
                padding-bottom: 200px;
            }
        }
        >a.blank-link {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 100vw;
            @include translateX(-50%);
        }
    }
    h1 {
        font-size: 28px;
        font-weight: 300;
    }
    ul.breadcrumbs {
        position: relative;
        @include listrest(20px 0 0,
        0,
        none);
        font-size: 0;
        z-index: 2;
        li {
            display: inline-block;
            font-size: 1rem;
            +li::before {
                @include beforeafter('/',
                inline-block);
                padding-left: 0.25em;
                padding-right: 0.25em;
            }
            a {
                color: $white;
                &.active {
                    color: $primary;
                }
                &:hover, &:active, &.active, &:focus {
                    @include breakpoint(1024px) {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.crosscut-block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: $gray;
    z-index: 5;
    @include breakpoint(1024px) {
        display: none;
    }
    .crosscut-title {
        margin-right: 1em;
    }
    a.btn {
        @include button($black,
        $red-300);
        min-width: auto;
        margin-left: 5px;
        padding: 0 7px;
        line-height: 2;
        vertical-align: middle;
        @include border-radius(50px);
        @include breakpoint(1024px) {
            min-width: auto;
        }
        i.icon {
            display: block;
            padding: 7px 0;
            font-weight: bold;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1050;
    .modal-dialog {
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
        min-height: calc(100% - 30px);
        margin: 15px;
        @include transform(0.3s);
        @include breakpoint(1024px) {
            max-width: 1170px;
            min-height: calc(100% - (1.75rem * 2));
            margin: 1.75rem auto;
        }
        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 60px 30px;
            background-color: $white;
            border: 1px solid rgba($black, 0.5);
            @include breakpoint(1024px) {
                padding: 80px;
            }
        }
        .text-group {
            position: relative;
            h4 {
                @include breakpoint(max-width 1023px) {
                    text-align: center;
                }
            }
            .sns-group {
                text-align: center;
                @include breakpoint(1024px) {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 12px;
            color: $text;
            cursor: pointer;
            @include transition(color 0.3s);
            @include breakpoint(1024px) {
                padding: 25px;
            }
            i.icon {
                display: block;
                font-weight: 600;
            }
            &.active {
                color: $dark;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $dark;
                }
            }
        }
    }
}

.modal-open {
    overflow: hidden;
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    z-index: 1040;
    @include opacity(0.5);
}

.map-group {
    background-color: $gray;
    .map-text {
        padding-top: 30px;
        padding-bottom: 30px;
        @include breakpoint(992px) {
            padding-top: 70px;
            padding-bottom: 70px;
            padding-left: 70px;
            padding-right: 70px;
        }
        @include breakpoint(1200px) {
            padding-right: calc(((100% - 1140px) / 2) + 15px);
        }
    }
    .map-iframe {
        @include breakpoint(max-width 767px) {
            height: 400px;
        }
        >.row {
            height: 100%;
        }
    }
}

form {
    .col-md-4,
    .col-md-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
    label {
        display: block;
    }
    input[type*='text'],
    input[type*='tel'],
    input[type*='email'],
    input[type*='date'],
    input[type*='time'],
    textarea,
    select {
        display: block;
        padding: 10px;
        width: 100%;
        font-size: 1rem;
        border: 1px solid $gray-100;
        @include border-radius(0);
        outline: 0;
    }
    textarea {
        height: 100px;
    }
    select {
        position: relative;
        height: 46px;
        background-color: transparent;
        background-image: url('../images/down.svg');
        @include background-size(0.6rem);
        background-position: calc(100% - 0.6rem) center;
        background-repeat: no-repeat;
        -webkit-appearance: none;
    }
    .recaptcha {
        margin-top: 20px;
        font-size: 0;
        @include breakpoint(1024px) {
            margin-top: 40px;
        }
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.contact-list {
    @include listrest(0,
    0,
    none);
    li {
        font-size: 0;
        +li {
            margin-top: 1rem;
        }
        >div {
            display: inline-block;
            vertical-align: text-top;
            font-size: 1rem;
            line-height: 1.2;
        }
        .list-title {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid $text;
        }
        .list-content {
            width: calc(100% - 55px);
        }
    }
}

.index-page {
    .btn-group {
        width: 100%;
        font-size: 0;
        input[type*='submit'],
        a.btn {
            min-width: auto;
            width: calc((100% - 20px) / 2);
        }
    }
    section {
        .container-fluid {
            height: 100%;
            .align-content-between {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
            }
            .px-75 {
                padding-left: 30px;
                padding-right: 30px;
                @include breakpoint(1200px) {
                    padding-left: 50px;
                    padding-right: 50px;
                }
                @include breakpoint(1920px) {
                    padding-left: 75px;
                    padding-right: 75px;
                }
            }
            .py-75 {
                height: 100%;
                padding-top: 30px;
                padding-bottom: 30px;
                @include breakpoint(1200px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @include breakpoint(1920px) {
                    padding-top: 75px;
                    padding-bottom: 75px;
                }
            }
        }
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
            @include breakpoint(1200px) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            @include breakpoint(1920px) {
                padding-top: 75px;
                padding-bottom: 75px;
            }
        }
        .row,
        .d-flex {
            height: 100%;
        }
        @include breakpoint(1024px) {
            .wow {
                visibility: initial !important;
                @include opacity(0);
                @include transition(opacity 0.3s);
                @include animation-duration(1s);
                @include animation-fill-mode(both);
            }
            &.active {
                .fadeInUp {
                    animation-name: fadeInUp !important;
                }
                .fadeIn {
                    animation-name: fadeIn !important;
                }
            }
        }
    }
}

.article-page {
    .article-header {
        position: relative;
        .sns-group {
            @include breakpoint(1024px) {
                position: absolute;
                top: 0;
                right: 0;
            }
            @include breakpoint(max-width 1023px) {
                margin-bottom: 20px;
            }
        }
        .sort {
            color: $text;
            @include breakpoint(1024px) {
                padding: 5px 0;
            }
        }
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 400;
            @include breakpoint(1024px) {
                margin-top: 15px;
                margin-bottom: 40px;
                font-size: 28px;
            }
        }
    }
    .article-body {
        padding-top: 25px;
        padding-bottom: 25px;
        color: $black;
        line-height: 1.875;
        word-break: break-word;
        a {
            color: $black;
            text-decoration: underline;
            &:active {
                color: $primary;
            }
            &:hover, &:active, &.active, &:focus {
                @include breakpoint(1024px) {
                    color: $primary;
                }
            }
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    >* {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@include keyframes(count4stepd) {
    0% {
        top: 0;
    }
    25% {
        top: -35px;
    }
    50% {
        top: -70px;
    }
    75% {
        top: -105px;
    }
    100% {
        top: -140px;
    }
}

@include keyframes(count5stepd) {
    0% {
        top: 0;
    }
    20% {
        top: -35px;
    }
    40% {
        top: -70px;
    }
    60% {
        top: -140px;
    }
    80% {
        top: -175px;
    }
    100% {
        top: -210px;
    }
}

@include keyframes(count6stepd) {
    0% {
        top: 0;
    }
    13% {
        top: -35px;
    }
    26% {
        top: -70px;
    }
    39% {
        top: -105px;
    }
    52% {
        top: -140px;
    }
    65% {
        top: -175px;
    }
    78% {
        top: -210px;
    }
    100% {
        top: -245px;
    }
}

@include keyframes(count4stepm) {
    0% {
        top: 0;
    }
    25% {
        top: -30px;
    }
    50% {
        top: -60px;
    }
    75% {
        top: -90px;
    }
    100% {
        top: -120px;
    }
}

@include keyframes(count5stepm) {
    0% {
        top: 0;
    }
    16% {
        top: -30px;
    }
    32% {
        top: -60px;
    }
    48% {
        top: -90px;
    }
    64% {
        top: -120px;
    }
    72% {
        top: -150px;
    }
    100% {
        top: -180px;
    }
}

@include keyframes(count6stepm) {
    0% {
        top: 0;
    }
    13% {
        top: -30px;
    }
    26% {
        top: -60px;
    }
    39% {
        top: -90px;
    }
    52% {
        top: -120px;
    }
    65% {
        top: -150px;
    }
    78% {
        top: -180px;
    }
    100% {
        top: -210px;
    }
}