.title {
    .h4 {
        font-size: $h1;
    }
    .h5 {
        color: $gray-600;
        font-size: $h5;
    }
}
.pagination {
    @include listrest(0, 0, none);
    li {
        display: inline-block;
        a, span {
            display: block;
            padding: 5px;
        }
        a {
            color: $black;
            &:hover {
                color: $primary;
            }
        }
        span {
            color: $gray-300;
            cursor: not-allowed;
        }
    }
}

section {
    &.page-opening {
        // height: 450px;
        background-repeat: no-repeat;
        @include background-size(cover);
        background-position: center;
        img {
            display: none;
            width: 100%;
            // height: 100%;
            // object-fit: cover;
            &.desktop {
                @media screen and (orientation: landscape) {
                    display: block;
                }
            }
            &.mobile {
                @media screen and (orientation: portrait) {
                    display: block;
                }
            }
        }
    }
    .nav-over-scroll {
        overflow: scroll hidden;
        > .nav-list {
            text-align: left;
        }
    }
    .nav-list {
        @include listrest(0 auto, 20px 0 10px, none);
        font-size: 0;
        @media screen and (min-width: 1024px) {
            padding-bottom: 0;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            + li {
                margin-left: 10px;
            }
            a.active {
                color: $white !important;
                background-color: $primary !important;
                border-color: $primary !important;
            }
        }
    }
    &.loop-content {
        margin-top: 40px;
        @media screen and (min-width: 1024px) {
            margin-top: 80px;
        }
        &.mt-0 {
            margin-top: 0;
        }
        .container-fluid {
            margin-bottom: 60px;
            @media screen and (min-width: 1024px) {
                margin-bottom: 120px;
            }
            .row {
                align-items: center;
                .col-md-5 {
                    @media screen and (min-width: 1024px) {
                        position: -webkit-sticky;	
                        position: sticky;	
                        top: 10px;	
                        align-self: baseline;
                    }
                }
            }
            &:nth-child(even) .row {
                flex-direction: row-reverse;
            }
            .h3 {
                color: $primary;
                font-size: $h3 * 1.125;
            }
            .txt {
                font-size: $h4;
                > *, img, iframe, embed {
                    display: block;
                    max-width: 100%;
                }
                &.collapse-hide {
                    > * {
                        display: none;
                        &:first-child {
                            display: block;
                        }
                    }
                }
            }
            .btn-toggle {
                span.close {
                    display: none;
                }
            }
        }
    }
    &.voc {
        position: relative;
        background-repeat: no-repeat;
        @include background-size(cover);
        background-position: center;
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $primary-variant;
            @include opacity(0.5);
        }
        .container {
            position: relative;
            background-color: rgba($red-100, 0.9);
            z-index: 1;
        }
        .title {
            color: $primary;
        }
        .voc-content {
            .h6 {
                font-size: $h4;
            }
        }
    }
    &.contact {
        background-color: $red-150;
    }
}

.lawyer-list {
    margin-top: 40px;
    @media screen and (min-width: 1024px) {
        margin-top: 80px;
    }
    &.mt-0 {
        margin-top: 0;
    }
    .row {
        justify-content: flex-start;
    }
    .col-sm-10 {
        position: relative;
        &::after {
            @include beforeafter('', block);
            position: absolute;
            left: 0;
            bottom: 30px;
            width: 100%;
            height: 1px;
            background-color: $white;
        }
    }
    .lawyer-item {
        border-bottom: 1px solid $black;
        span {
            display: block;
            text-align: center;
            &.img {
                position: relative;
                width: 100%;
                padding-top: 110.526316%;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                span {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    padding: 30px;
                    color: $white;
                    font-size: $h4;
                    line-height: 1.25;
                    background-color: rgba($primary, 0.9);
                    @include translateX(-50%);
                    @include border-radius(50%);
                    @include opacity(0);
                }
            }
            &.txt {
                .name {
                    color: $primary;
                    font-size: $h3 * 1.1;
                }
                .title {
                    color: $black;
                    font-size: $h5;
                }
            }
        }
        &:hover {
            span.img span {
                @include opacity(1);
            }
        }
    }
}

.lawyer-single {
    margin-top: 40px;
    @media screen and (min-width: 1024px) {
        margin-top: 80px;
    }
    &.mt-0 {
        margin-top: 0;
    }
    > .container-fluid + .container-fluid {
        .col-md-11 {
            border-top: 1px solid $black;
        }
    }
    .row {
        @media screen and (max-width: 1023px) {
            flex-direction: column-reverse;
            align-content: center;
        }
        .lawyer-title {
            text-align: center;
            h1 {
                position: relative;
                margin-bottom: 10px;
                color: $primary;
                font-size: $h1;
                &::before {
                    @include beforeafter('', block);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: $primary;
                    z-index: 0;
                }
                span {
                    display: inline-block;
                    position: relative;
                    padding: 0 5%;
                    background-color: $white;
                    z-index: 1;
                }
            }
            .title {
                font-size: $h3;
            }
        }
        .lawyer-intro {
            font-size: $h4;
            word-break: break-word;
            .h5 {
                padding-top: 20px;
                padding-bottom: 10px;
                color: $primary;
                font-size: $h3;
                border-bottom: 1px solid $gray-300;
            }
            ul {
                @include listrest(20px 0, 0, none);
                li {
                    margin-bottom: 5px;
                    line-height: 1.25;
                }
            }
            a {
                color: $primary;
                text-decoration: underline;
                &:hover {
                    color: $primary-variant;
                }
            }
            img, iframe, embed {
                max-width: 100%;
            }
        }
        .lawyer-profile {
            font-size: $h4;
            @media screen and (min-width: 1024px) {
                margin-top: -100px;
            }
            .connect, .social {
                li {
                    a {
                        display: flex;
                        align-items: center;
                    }
                    i.icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: $h2;
                        height: $h2;
                        @include border-radius(50%);
                        &::before {
                            font-size: $h6;
                        }
                    }
                }
            }
            .connect {
                @include listrest(40px 0 20px, 0, none);
                li {
                    + li {
                        margin-top: 10px;
                    }
                    a {
                        color: $gray-600;
                        font-size: $h5;
                        &:hover {
                            color: $primary;
                        }
                    }
                    i.icon {
                        margin-right: 20px;
                        &.icon-envelope, &.icon-phone {
                            color: $gray-600;
                            border: 1px solid $gray-600;
                        }
                    }
                }
            }
            .social {
                @include listrest(0, 0, none);
                font-size: 0;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: $h5;
                    + li {
                        margin-left: 10px;
                    }
                    i.icon {
                        color: $white;
                        &.icon-fb {
                            color: $facebook;
                            &::before {
                                font-size: $h2;
                            }
                        }
                        &.icon-line {
                            background-color: $line;
                        }
                        &.icon-instagram {
                            background: #f09433; 
                            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        }
                        &.icon-youtube {
                            background-color: $youtube;
                        }
                        &.icon-twitter {
                            background-color: $twitter;
                        }
                        &.icon-sinaweibo {
                            background-color: $weibo;
                        }
                    }
                }
            }
        }
    }
}

.news-list {
    a {
        display: flex;
        flex-wrap: wrap;
        span {
            display: block;
            line-height: 1.25;
            &.preface {
                width: calc(100% - 7em);
            }
            &.date {
                > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        > span {
            display: flex;
            align-items: center;
            width: 100%;
            &.detail {
                margin-top: 10px;
                color: $gray-600;
                justify-content: space-between;
            }
        }
    }
}

.inner-page {
    .news-list {
        margin-top: 40px;
        @media screen and (min-width: 1024px) {
            margin-top: 80px;
        }
        &.mt-0 {
            margin-top: 0;
        }
        a {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $gray-100;
            @media screen and (min-width: 768px) {
                justify-content: space-between;
            }
            span {
                width: auto;
            }
            > span {
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
                &.title {
                    color: $primary;
                    font-size: $h4;
                    .icon {
                        margin-right: 10px;
                        font-size: $h2;
                    }
                }
                &.detail {
                    color: $gray-600;
                    @media screen and (max-width: 767px) {
                        justify-content: flex-end;
                    }
                    @media screen and (min-width: 768px) {
                        margin-top: 0;
                    }    
                }
            }
            &:hover {
                > span {
                    &.title {
                        color: $red-400;
                    }
                    &.detail {
                        color: $black;
                    }
                }
            }
        }
    }    
}

.news-article {
    margin-top: 40px;
    @media screen and (min-width: 1024px) {
        margin-top: 80px;
    }
    &.mt-0 {
        margin-top: 0;
    }
    .article-head {
        .date {
            > * {
                display: inline-block;
                vertical-align: middle;
                color: $gray-500;
            }
        }
        .title {
            color: $primary;
            font-size: $h1;
        }
    }
    .article-body {
        font-size: $h4;
        word-break: break-word;
        img, div, iframe, frame, embed {
            max-width: 100%;
            // width: 300px;
        }
    }
}

.contact-page {
    section {
        &.contact {
            background-color: $white;
        }
        .map-group {
            background-color: $gray;
            .map-text {
                padding-top: 30px;
                padding-bottom: 30px;
                font-size: $h4;
                @media screen and (min-width: 1024px) {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    padding-left: 70px;
                    padding-right: 70px;
                }
                @media screen and (min-width: 1280px) {
                    padding-right: calc(((100% - 1240px) / 2) + 15px);
                }
            }
            .map-iframe {
                @media screen and (max-width: 1023px) {
                    height: 400px;
                }
                >.row {
                    height: 100%;
                }
            }
        }
        .contact-list {
            @include listrest(0, 0, none);
            li {
                font-size: 0;
                +li {
                    margin-top: $h5;
                }
                >div {
                    display: inline-block;
                    vertical-align: text-top;
                    font-size: $h5;
                    line-height: 1.2;
                }
                .list-title {
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid $text;
                }
                .list-content {
                    width: calc(100% - 55px);
                    a {
                        color: $text;
                        &:hover, &:active, &.active, &:focus {
                            color: $primary;
                        }    
                    }
                }
            }
        }
    }
}